.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #EDEFF3;
}

